@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  
}
.body {
  font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 300;
    background-color: #175a95;
    height: 100vh;
    
}



/* navigacija */
.wrapper{
  background: #13161A;
  position: fixed;
  width: 100%;
  margin-top: -100px;
  z-index: 2;
  
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  
}
nav .content{
  display: flex;
  align-items: center;
  
}

nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #EFE08E;
  font-size: 30px;
  font-weight: 600;
  text-align: center;  
}
.logoslika img{
  width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 10px;
}


.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  background: #13161A;
  

  
}


.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #3e72d4;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
  max-height: 2000px;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #13161A;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  max-height: 500px;
  overflow-y: scroll;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* sadrzajstranice krece odavde */

.izgled-stranice {
  margin: 100px 100px;
  text-align: center;
  background-color: #F4F3EA;
/*  background-color: rgba(0, 0, 0, 0.8); */
  border-radius: 20px;
  padding-bottom: 20px;
  /* max-height: 500px; */
  box-shadow: 5px 10px 5px #a1a7b0;

}

.izgled-stranice img {
  float: left;
  margin: 5px;
  margin-left: 20px;
  margin-right: 15px;
  width: 180px;
  margin-top: 20px;

}

.izgled-stranice p {
  text-align: justify;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
}
.procitajjos {
  text-align: justify;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
 float: right;
 margin-top: -40px;
 margin-left: -800px;
}

.naslov h1{
  font-size: 30px;
/*  color: white;*/
  color: #873a3a;

}

/* kategorije  */
.linkovinadnu a {
  text-align: justify;
  font-size: 18px;
  color: rgb(139, 33, 33);
  text-decoration: none;
  padding: 5px 10px;
  text-decoration: none;
  float: right;
}
.mojaocena{
font-size: 18px;
font-weight: 500;
float: left;
margin: 3px 0px 3px 10px;
}
.yt-video iframe{
  max-width: 600px;
  max-height: 300px;
}




/*ovo je za dodavanje btn dugmeta*/
.gotopbtn{
  position: fixed;
  width: 30px;
  height: 30px;
  background: rgba(239,224,142,255);
  bottom: 20px;
  right: 9px;

  text-decoration: none;
  text-align: center;
  line-height: 30px;
  color: rgba(108,9,4,255);
  font-size: 22px;
}


footer {
background-color: rgb(19, 22, 26);
}
.footerContainer {
width: 100%;
padding: 70px 30px 20px;
}

.socialIcons {
display: flex;
justify-content: center;
}

.socialIcons a {
text-decoration: none;
padding: 10px;
background-color: #fff;
margin: 10px;
border-radius: 50%;
}
.socialIcons a i {
font-size: 50px;
color: #000000;
opacity: 0.9;
}

/* hover  */
.socialIcons a:hover{
background-color: #111;
transition: 0.3s;
}

.socialIcons a:hover i {
color: #fff;
transition: 0.3s;
}

.footerNav {
margin: 30px 0;
}
.footerNav ul {
display: flex;
justify-content: center;
list-style: none;
}
.footerNav ul li a {
color: #fff;
margin: 20px;
text-decoration: none;
font-size: 20px;
opacity: 0.7;
transition: 0.3s;
}
.footerNav ul li a:hover {
opacity: 1;
}

.footerBottom {
background-color: #000000;
padding: 20px;
text-align: center;
  font-size: 12px;
}
.footerBottom p {
color: #fff;
}

.designer {

letter-spacing: 1px;
font-weight: 600;
}


/* galerija */
.wrapper2 {
  display: flex;
  max-width: auto;
  width: 100%;
  height: auto;
  /* background: #F4F3EA; */
  align-items: center;
  justify-content: center;
  position: relative;
  /* border-radius: 12px; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  
}
.wrapper2 i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container {
  max-width: 600px;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: fill;
}


























/* Responsive code start */
@media screen and (max-width: 1350px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 1050px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #1d2227;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  .izgled-stranice img {
    float: left;
    margin: 15px;
    margin-left: 20px;
    margin-right: 15px;
    width: 180px;
    margin-top: 20px;
  
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  .yt-video iframe{
    max-width: 320px;
    max-height: 200px;
  }
}

@media screen and (max-width: 560px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
@media screen and (max-width: 505px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 22px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
  .yt-video iframe{
    max-width: 320px;
    max-height: 200px;
  }
}

@media screen and (max-width: 445px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 18px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
  .content .links li a,
.content .links li label{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 4px 25px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.yt-video iframe{
  max-width: 320px;
  max-height: 200px;
}
}


@media screen and (max-width: 400px){


   /* hover  */

  .socialIcons a:hover i {
  color: #fff;
  transition: 0.3s;
  }
  
  .footerNav {
  margin: 10px 0;
  }

  .footerNav ul li a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 10px;
  opacity: 0.7;
  transition: 0.3s;
  }
 
  .footerBottom {
  background-color: #000000;
  padding: 20px;
  text-align: center;
    font-size: 12px;
  }
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 14px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
  .content .links li a,
.content .links li label{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 4px 25px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  

}
.content .links li ul li a {
  font-size: 14px;
  color: #fff;
  max-height: fit-content;
}

.logoslika img{
  width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 10px;
}

.izgled-stranice {
  margin: 100px 20px;
  text-align: center;
  background-color: #F4F3EA;
/*  background-color: rgba(0, 0, 0, 0.8); */
  border-radius: 20px;
  padding-bottom: 20px;
  /* max-height: 500px; */
  box-shadow: 5px 10px 5px #a1a7b0;
  
}

.izgled-stranice img {
  float: left;
  margin: 5px;
  margin-left: 20px;
  margin-right: 15px;
  width: 90px;
  margin-top: 20px;

}

.izgled-stranice p {
  text-align: justify;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
  word-spacing: 1px; 
}

.procitajjos {
  text-align: justify;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
 float: right;
 margin-top: 1px;
 margin-right: 6px;
}

.naslov h1{
  font-size: 18px;
/*  color: white;*/
  color: #000000;

}

/* kategorije  */
.linkovinadnu a {
  text-align: justify;
  font-size: 10px;
  color: rgb(139, 33, 33);
  text-decoration: none;
  padding: 1px 2px 5px 5px;
  margin-right: 3px;
  text-decoration: none;
}
.mojaocena{
font-size: 14px;
font-weight: 500;
float: left;
margin: 3px 0px 3px 10px;
}
.yt-video iframe{
  max-width: 320px;
  max-height: 200px;
}



/* galerija */
.wrapper2 {
  display: flex;
  max-width: auto;
  width: 100%;
  height: auto;
  /* background: #F4F3EA; */
  align-items: center;
  justify-content: center;
  position: relative;
  /* border-radius: 12px; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  
}
.wrapper2 i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container {
  max-width: 320px;
  max-height: 200px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: fill;
}





  .footerContainer {
  width: 100%;
  padding: 50px 10px;
  }
  
  .socialIcons {
  display: flex;
  justify-content: center;
  }
  
  .socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
  }
  .socialIcons a i {
  font-size: 20px;
  color: #000000;
  opacity: 0.9;
  }
  #show-features{
    max-height: 100%;
  }
  


}